.fifth-screen-component {
  @include mobile {
    padding: rem(30px) rem(15px) 0;
  }

  background: $white;
  height: max-content;
  padding: rem(66px) rem(15px) 0;
  background: $white-to-yellow-gradient;

  &__title {
    margin: 0 0 rem(66px);
  }
}
