.sixth-screen-component {
  @include mobile {
    padding: 0 rem(5px);
  }

  align-items: center;
  display: flex;
  flex-direction: column;
  height: rem(300px);
  overflow: hidden;

  &__title {
    margin: rem(67px) 0 0 0;
    position: absolute;
  }

  &__button {
    margin: rem(180px) 0 0 0;
    position: absolute;
  }
}
