.message-component {
  --color: $main-secondary;

  align-items: center;
  color: var(--color);
  display: flex;
  font-size: 0.86rem;
  height: 1.36rem;
  margin-top: 0.36rem;
  transition: all 0.15s ease-in-out;

  svg {
    fill: var(--color);
    width: 1.14rem;
  }

  &_error {
    --color: $main-red;
  }

  &_success {
    --color: $main-primary;
  }
}
